<h1>Password Generator</h1>

<div>
  <label for="length">Length</label>
  <input id="length" type="number" min="4" (blur)="setLength($event.target)" [value]="length"/>
</div>

<div>
  <label for="lower">Lowercase Letters</label>
  <input id="lower" type="checkbox" (change)="toggleLower()" [checked]="lower"/>
</div>

<div>
  <label for="upper">Uppercase Letters</label>
  <input id="upper" type="checkbox" (change)="toggleUpper()" [checked]="upper"/>
</div>

<div>
  <label for="numbers">Numbers</label>
  <input id="numbers" type="checkbox" (change)="toggleNumbers()" [checked]="numbers"/>
</div>

<div>
  <label for="symbols">Symbols</label>
  <input id="symbols" type="checkbox" (change)="toggleSymbols()" [checked]="symbols"/>
</div>

<div>
  <button 
  [disabled]="!(length && (lower || upper || numbers || symbols))" 
  (click)="onButtonClick()"
  >Generate</button>
</div>

<div>
  <label for="pw">Your Password</label>
  <input id="pw" [value]="password"/>
</div>