
  <div class=card>
    <h1>Password Generator</h1>
  
    <form (submit)="generate($event)">
      <label for="length" class="field">
        <span>Length</span>
        <input id="length" type="number" min="4" (blur)="setLength($event.target)" [value]="length"/>
      </label>
      
      <label for="lower" class="toggle">
        <div class="switch">
          <input id="lower" type="checkbox" (change)="toggleLower()" [checked]="lower"/>
          <span class="slider"></span>
        </div>
        <span>Lowercase Letters</span>
      </label>
      
      <label for="upper" class="toggle">
        <div class="switch">
          <input id="upper" type="checkbox" (change)="toggleUpper()" [checked]="upper"/>
          <span class="slider"></span>
        </div>
        <span>Uppercase Letters</span>
      </label>
      
      <label for="numbers" class="toggle">
        <div class="switch">
          <input id="numbers" type="checkbox" (change)="toggleNumbers()" [checked]="numbers"/>
          <span class="slider"></span>
        </div>  
        <span>Numbers</span>
      </label>
      
      <label for="symbols" class="toggle">
        <div class="switch">
          <input id="symbols" type="checkbox" (change)="toggleSymbols()" [checked]="symbols"/>
          <span class="slider"></span>
        </div>
        <span>Symbols</span>
      </label>
      
      <button 
        [disabled]="!(length && (lower || upper || numbers || symbols))" 
        type="submit"
      >
        Generate
      </button>
    
    </form>
    
    <div>
      <label for="pw">Your Password</label>
      <input id="pw" [value]="password"/>
    </div>
  
  </div>

